    <div class="steps-container">
    <div class="tabs-container">
        <ul>
            <li class="bs-li"><a> {{content.steps_tab_1_title}} </a></li>
            <li class="bs-li active-tab"><a> {{content.steps_tab_2_title}} </a></li>
            <li class="bs-li"><a> {{content.steps_tab_3_title}} </a></li>
        </ul>
    </div>
    <div class="steps-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="main-timeline7">
                    <div class="timeline">
                        <div class="timeline-icon"><i class="fa fa-globe"></i></div>
                        <span class="year"> {{content.tab_1_card_1_highlight}} </span>
                        <div class="timeline-content">
                            <h5 class="title"> {{content.tab_1_card_1_title}} </h5>
                            <p class="description">
                                {{content.tab_1_card_1_description}}
                            </p>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="timeline-icon"><i class="fa fa-rocket"></i></div>
                        <span class="year">{{content.tab_1_card_2_highlight}}</span>
                        <div class="timeline-content">
                            <h5 class="title">{{content.tab_1_card_2_title}}</h5>
                            <p class="description">
                                L{{content.tab_1_card_2_description}}
                            </p>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="timeline-icon"><i class="fa fa-briefcase"></i></div>
                        <span class="year">{{content.tab_1_card_3_highlight}}</span>
                        <div class="timeline-content">
                            <h5 class="title">{{content.tab_1_card_3_title}}</h5>
                            <p class="description">
                                {{content.tab_1_card_3_description}}
                            </p>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="timeline-icon"><i class="fa fa-mobile"></i></div>
                        <span class="year">{{content.tab_1_card_4_highlight}}</span>
                        <div class="timeline-content">
                            <h5 class="title"> {{content.tab_1_card_4_title}}</h5>
                            <p class="description">
                                {{content.tab_1_card_4_description}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</
div>


<!--  ########################### PRICING SECTION ######################### -->

<div class="pricing-container">
    <div class="pricing-title-container">
        <div class="pricing-main-header">
            {{ content.pricing_header }}
        </div>
        <div class="pricing-sub-header">
            {{ content.pricing_sub_headder}}
        </div>
    </div>
    <div class="tabs-container">
        <ul>
            <li class="pricing-tabs"><a> {{ content.pricing_tab_1_title }} </a></li>
            <li class="pricing-tabs active-tab"><a> {{ content.pricing_tab_2_title }} </a></li>
            <li class="pricing-tabs"><a> {{ content.pricing_tab_3_title }} </a></li>
        </ul>
    </div>
    <!-- ###### CARDS FOR DESKTOP VIEW ##### -->
    <div class="outer-container">
        <div class="container desktop-container1">
            <div class="inner_container">
                <div class="title"> {{ content.pricing_tab_2_card_1_title }} </div>
                <div class="main_number"> {{content.tab_2_card_1_price}} </div>
                <div class="container_text">
                    <div class="container_text1"> {{content.pricing_tab_2_card_1_description}} </div>
                    <div class="container_text2"> {{content.pricing_tab_2_card_1_highlight}} </div>
                </div>
            </div>
            <a><span>Continue</span></a>
        </div>
        <div class="container desktop-container2 active-pricing-card">
            <div class="inner_container">
                <div class="title">{{ content.pricing_tab_2_card_2_title }}</div>
                <div class="main_number"> {{content.tab_2_card_2_price}} </div>
                <div class="container_text">
                    <div class="container_text1">{{content.pricing_tab_2_card_2_description}}</div>
                    <div class="container_text2"> {{content.pricing_tab_2_card_2_highlight}} </div>
                </div>
            </div>
            <a><span>Continue</span></a>
        </div>
        <div class="container desktop-container3">
            <div class="inner_container">
                <div class="title">{{ content.pricing_tab_2_card_3_title }}</div>
                <div class="main_number"> {{content.tab_2_card_2_price}} </div>
                <div class="container_text">
                    <div class="container_text1">{{content.pricing_tab_2_card_3_description}}</div>
                    <div class="container_text2"> {{content.pricing_tab_2_card_3_highlight}} </div>
                </div>
            </div>
            <a><span>Continue</span></a>
        </div>
    </div>

    <!-- ##########  CARDS FOR MOBILE VIEW  ############# -->
    <div class="mobile-outer-container">
        <div class="mobile-card-wrapper">
            <div class="mobile-container mobile-container1">
                <div class="inner_container">
                    <div class="title"> {{ content.pricing_tab_2_card_1_title }} </div>
                    <div class="main_number"> {{content.tab_2_card_1_price}} </div>
                    <div class="container_text">
                        <div class="container_text1"> {{content.pricing_tab_2_card_1_description}} </div>
                        <div class="container_text2"> {{content.pricing_tab_2_card_1_highlight}} </div>
                    </div>
                </div>
                <a><span>Continue</span></a>
            </div>
        </div>
        <div class="mobile-card-wrapper">
            <div class="mobile-container mobile-container2">
                <div class="inner_container">
                    <div class="title">{{ content.pricing_tab_2_card_2_title }}</div>
                    <div class="main_number"> {{content.tab_2_card_2_price}} </div>
                    <div class="container_text">
                        <div class="container_text1">{{content.pricing_tab_2_card_2_description}}</div>
                        <div class="container_text2"> {{content.pricing_tab_2_card_2_highlight}} </div>
                    </div>
                </div>
                <a><span>Continue</span></a>
            </div>
        </div>
        <div class="mobile-card-wrapper">
            <div class="mobile-container mobile-container3">
                <div class="inner_container">
                    <div class="title">{{ content.pricing_tab_2_card_3_title }}</div>
                    <div class="main_number"> {{content.tab_2_card_2_price}} </div>
                    <div class="container_text">
                        <div class="container_text1">{{content.pricing_tab_2_card_3_description}}</div>
                        <div class="container_text2"> {{content.pricing_tab_2_card_3_highlight}} </div>
                    </div>
                </div>
                <a><span>Continue</span></a>
            </div>
        </div>
    </div>

</div>