<div class="steps-container">
    <div class="tabs-container">
        <ul>
            <li class="bs-li"><a> tab1 </a></li>
            <li class="bs-li active-tab"><a> tab2 </a></li>
            <li class="bs-li"><a> tab3 </a></li>
        </ul>
    </div>
    <div class="steps-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="main-timeline7">
                    <div class="timeline">
                        <div class="timeline-icon"><i class="fa fa-globe"></i></div>
                        <span class="year">2018</span>
                        <div class="timeline-content">
                            <h5 class="title">Web Desginer</h5>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mattis felis vitae
                                risus pulvinar tincidunt. Nam ac venenatis enim. Aenean hendrerit justo sed.
                            </p>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="timeline-icon"><i class="fa fa-rocket"></i></div>
                        <span class="year">2017</span>
                        <div class="timeline-content">
                            <h5 class="title">Web Developer</h5>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mattis felis vitae
                                risus pulvinar tincidunt. Nam ac venenatis enim. Aenean hendrerit justo sed.
                            </p>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="timeline-icon"><i class="fa fa-briefcase"></i></div>
                        <span class="year">2016</span>
                        <div class="timeline-content">
                            <h5 class="title">Web Desginer</h5>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mattis felis vitae
                                risus pulvinar tincidunt. Nam ac venenatis enim. Aenean hendrerit justo sed.
                            </p>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="timeline-icon"><i class="fa fa-mobile"></i></div>
                        <span class="year">2015</span>
                        <div class="timeline-content">
                            <h5 class="title">Web Developer</h5>
                            <p class="description">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum mattis felis vitae
                                risus pulvinar tincidunt. Nam ac venenatis enim. Aenean hendrerit justo sed.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--  ########################### PRICING SECTION ######################### -->

<div class="pricing-container">
    <div class="pricing-title-container">
        <div class="pricing-main-header">
            Impeccable & Affordable Web Design and Development Packages
        </div>
        <div class="pricing-sub-header">
            Our Web Design and Development professionals aim to provide you nothing but the most beautiful designs in
            the industry. Pick up a suitable web design package below or discuss a custom quote with us today.
        </div>
    </div>
    <div class="tabs-container">
        <ul>
            <li class="pricing-tabs"><a> tab1 </a></li>
            <li class="pricing-tabs active-tab"><a> tab2 </a></li>
            <li class="pricing-tabs"><a> tab3 </a></li>
        </ul>
    </div>
    <!-- ###### CARDS FOR DESKTOP VIEW ##### -->
    <div class="outer-container">
        <div class="container desktop-container1">
            <div class="inner_container">
                <div class="title">Individual</div>
                <div class="main_number">2</div>
                <div class="container_text">
                    <div class="container_text1">Simple</div>
                    <div class="container_text2">20 gb</div>
                </div>
            </div>
            <a><span>Continue</span></a>
        </div>
        <div class="container desktop-container2 active-pricing-card">
            <div class="inner_container">
                <div class="title">Shared</div>
                <div class="main_number">6</div>
                <div class="container_text">
                    <div class="container_text1">Family</div>
                    <div class="container_text2">100 gb</div>
                </div>
            </div>
            <a><span>Continue</span></a>
        </div>
        <div class="container desktop-container3">
            <div class="inner_container">
                <div class="title">Group</div>
                <div class="main_number">9</div>
                <div class="container_text">
                    <div class="container_text1">Business</div>
                    <div class="container_text2">500 gb</div>
                </div>
            </div>
            <a><span>Continue</span></a>
        </div>
    </div>

    <!-- ##########  CARDS FOR MOBILE VIEW  ############# -->
    <div class="mobile-outer-container">
        <div class="mobile-card-wrapper">
            <div class="mobile-container mobile-container1">
                <div class="inner_container">
                    <div class="title">Individual</div>
                    <div class="main_number">2</div>
                    <div class="container_text">
                        <div class="container_text1">Simple</div>
                        <div class="container_text2">20 gb</div>
                    </div>
                </div>
                <a><span>Continue</span></a>
            </div>
        </div>
        <div class="mobile-card-wrapper">
            <div class="mobile-container mobile-container2">
                <div class="inner_container">
                    <div class="title">Shared</div>
                    <div class="main_number">6</div>
                    <div class="container_text">
                        <div class="container_text1">Family</div>
                        <div class="container_text2">100 gb</div>
                    </div>
                </div>
                <a><span>Continue</span></a>
            </div>
        </div>
        <div class="mobile-card-wrapper">
            <div class="mobile-container mobile-container3">
                <div class="inner_container">
                    <div class="title">Group</div>
                    <div class="main_number">9</div>
                    <div class="container_text">
                        <div class="container_text1">Business</div>
                        <div class="container_text2">500 gb</div>
                    </div>
                </div>
                <a><span>Continue</span></a>
            </div>
        </div>
    </div>

</div>